node-red.json
[{"id":"b31e54e4.909fa8","type":"tab","label":"画像アップロード","disabled":false,"info":""},{"id":"23350820.888988","type":"tab","label":"感情認識","disabled":false,"info":""},{"id":"15cd476.975e8b9","type":"tab","label":"物音認識","disabled":false,"info":""},{"id":"9c32f896.f45c08","type":"tab","label":"白け判定","disabled":false,"info":""},{"id":"eddaa714.878c58","type":"tab","label":"音声コマンド返却","disabled":false,"info":""},{"id":"5af3bc01.39170c","type":"tab","label":"音声認識","disabled":false,"info":""},{"id":"aff0ea80.90c288","type":"tab","label":"キーワード受信","disabled":false,"info":""},{"id":"902376b4.f5fea8","type":"websocket-listener","z":"","path":"/websocket/command","wholemsg":"false"},{"id":"71b1a718.f0cbf8","type":"http in","z":"23350820.888988","name":"","url":"/text2speech","method":"get","upload":false,"swaggerDoc":"","x":112,"y":103,"wires":[["f5a39159.aa3ac"]]},{"id":"b824b7b3.8b26d8","type":"watson-text-to-speech","z":"23350820.888988","name":"","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":505,"y":103,"wires":[["3b038661.a3256a"]]},{"id":"317a9297.e6323e","type":"http response","z":"23350820.888988","name":"speech","statusCode":"","headers":{"content-type":"audio/wav"},"x":870,"y":102,"wires":[]},{"id":"3b038661.a3256a","type":"change","z":"23350820.888988","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":698,"y":102,"wires":[["317a9297.e6323e"]]},{"id":"f5a39159.aa3ac","type":"change","z":"23350820.888988","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":313,"y":103,"wires":[["b824b7b3.8b26d8"]]},{"id":"209861b.355f79e","type":"comment","z":"23350820.888988","name":"text2speech","info":"# Example\n\nnode-red-001.au-syd.mybluemix.net/text2speech?text=水を飲みます","x":92,"y":63,"wires":[]},{"id":"b5c3751e.c08258","type":"http in","z":"15cd476.975e8b9","name":"物音認識結果のPOST","url":"/post_sound_events","method":"post","upload":false,"swaggerDoc":"","x":142.5,"y":87,"wires":[["c6a56e33.75fce"]]},{"id":"c6a56e33.75fce","type":"change","z":"15cd476.975e8b9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":211.5,"y":184,"wires":[["fe85a5a4.c58ca8","77dc40e2.0473f"]]},{"id":"fe85a5a4.c58ca8","type":"http response","z":"15cd476.975e8b9","name":"","statusCode":"","headers":{},"x":421.5,"y":182,"wires":[]},{"id":"77dc40e2.0473f","type":"debug","z":"15cd476.975e8b9","name":"","active":true,"console":"false","complete":"true","x":419,"y":254,"wires":[]},{"id":"ab96dff9.04d2e","type":"http in","z":"23350820.888988","name":"","url":"/emotion","method":"get","swaggerDoc":"","x":82,"y":245.2500057220459,"wires":[["44042550.388a7c"]]},{"id":"465e9629.5e2638","type":"http response","z":"23350820.888988","name":"","x":422,"y":245.2500057220459,"wires":[]},{"id":"44042550.388a7c","type":"template","z":"23350820.888988","name":"画像URL入力画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h2>Emotion API Sample</h2>\n<form action=\"/emotion\" method=\"post\">\n    URL<br>\n    <input type=\"text\" name=\"url\" value=\"\"><br>\n    <button type=\"submit\">実行</button>\n</form>\n","x":262,"y":245.2500057220459,"wires":[["465e9629.5e2638"]]},{"id":"889835df.2e0bc8","type":"http in","z":"23350820.888988","name":"","url":"/emotion","method":"post","upload":false,"swaggerDoc":"","x":92,"y":305.2500057220459,"wires":[["2fdb1438.4c16dc"]]},{"id":"91b4375f.cf8e68","type":"http response","z":"23350820.888988","name":"","statusCode":"","headers":{},"x":1243.250015258789,"y":445.50000858306885,"wires":[]},{"id":"2fdb1438.4c16dc","type":"function","z":"23350820.888988","name":"Header追加","func":"msg.headers = {\n    \"Content-type\": \"application/json; charset=UTF-8\",\n    \"Ocp-Apim-Subscription-Key\": \"2fb9baa6cfe34c2395fff59da6ac7594\"\n};\n\nmsg.picurl = msg.payload.url;\n\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":305.2500057220459,"wires":[["5dae3f76.9f11e"]]},{"id":"5dae3f76.9f11e","type":"http request","z":"23350820.888988","name":"Call MS EmotionAPI","method":"POST","ret":"obj","url":"https://api.projectoxford.ai/emotion/v1.0/recognize","tls":"","x":452,"y":365.2500057220459,"wires":[["7dbbbb9e.dba364"]]},{"id":"87ed4386.8e98f","type":"function","z":"23350820.888988","name":"ResMsg作成","func":"//小数点6位までを残す関数 (表情スコアの丸めに利用)\nfunction floatFormat( number ) {\n    return Math.round( number * Math.pow( 10 , 6 ) ) / Math.pow( 10 , 6 ) ;\n}\n\n// Headerの書き換え\nmsg.headers = {\n    \"Content-type\": \"text/html; charset=UTF-8\"\n};\n\nvar result = { 'faceCount': 0, 'emotions': [] };\n\n// payloadの中身を書き換え\nif (msg.result.length > 0) {\n  for (const p of msg.result) {\n    var faceScore = p.scores;\n    result['emotions'].push({\n        'position'  : { 'left': p.faceRectangle['left'],\n                        'top' : p.faceRectangle['top'] },\n        'faceAnger' : floatFormat(faceScore.anger),\n        'faceContempt' :  floatFormat(faceScore.contempt),\n        'faceDisgust' : floatFormat(faceScore.disgust),\n        'faceFear' : floatFormat(faceScore.fear),\n        'faceHappiness' : floatFormat(faceScore.happiness),\n        'faceNeutral' : floatFormat(faceScore.neutral),\n        'faceSadness' : floatFormat(faceScore.sadness),\n        'faceSurprise' : floatFormat(faceScore.surprise)\n    })\n  }\n  result['faceCount'] = msg.result.length;\n}\n\nmsg['result'] = result\n\nreturn msg;\n","outputs":1,"noerr":0,"x":844,"y":348.2500057220459,"wires":[["264c69b7.af1826","8d6100b8.0d52c"]]},{"id":"fabe0fb7.b3be2","type":"debug","z":"23350820.888988","name":"","active":false,"console":"false","complete":"true","x":911,"y":511.2500057220459,"wires":[]},{"id":"c45a7baa.038c48","type":"debug","z":"23350820.888988","name":"","active":false,"console":"false","complete":"true","x":1318.250015258789,"y":535.5000085830688,"wires":[]},{"id":"393e552a.ef142a","type":"switch","z":"23350820.888988","name":"認識状況","property":"result.faceCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":923,"y":450.2500057220459,"wires":[["4318d9af.d66c38"],["2bf201b6.e8000e"]]},{"id":"2bf201b6.e8000e","type":"template","z":"23350820.888988","name":"失敗","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Failure...","x":1069.250015258789,"y":486.50000858306885,"wires":[["91b4375f.cf8e68","c45a7baa.038c48"]]},{"id":"833e7be8.5928a8","type":"http in","z":"b31e54e4.909fa8","name":"画像アップロード","url":"/sendImage","method":"post","upload":true,"swaggerDoc":"","x":125,"y":127,"wires":[["e74280f2.d46c8"]]},{"id":"4e6451ee.e6b8e","type":"http response","z":"b31e54e4.909fa8","name":"","statusCode":"","headers":{},"x":425,"y":116,"wires":[]},{"id":"e3eb313f.44555","type":"websocket out","z":"eddaa714.878c58","name":"","server":"902376b4.f5fea8","client":"","x":500,"y":160,"wires":[]},{"id":"986218aa.a8b508","type":"inject","z":"eddaa714.878c58","name":"","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"遠藤  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":200,"wires":[["e3eb313f.44555","e554007b.e18d3"]]},{"id":"e554007b.e18d3","type":"debug","z":"eddaa714.878c58","name":"","active":false,"console":"false","complete":"false","x":410,"y":240,"wires":[]},{"id":"474fd8e5.313d78","type":"websocket in","z":"eddaa714.878c58","name":"","server":"902376b4.f5fea8","client":"","x":190,"y":260,"wires":[["e554007b.e18d3"]]},{"id":"f428841c.a19c78","type":"function","z":"23350820.888988","name":"Header追加","func":"msg.headers = {\n    \"Content-type\": \"application/octet-stream\",\n    \"Ocp-Apim-Subscription-Key\": \"2fb9baa6cfe34c2395fff59da6ac7594\"\n};\nmsg.payload = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":376.2500057220459,"wires":[["5dae3f76.9f11e","10117058.c0b73"]]},{"id":"10117058.c0b73","type":"debug","z":"23350820.888988","name":"","active":true,"console":"false","complete":"true","x":277.5,"y":468.25,"wires":[]},{"id":"4318d9af.d66c38","type":"function","z":"23350820.888988","name":"成功","func":"//msg.payload = JSON.stringify(msg.result.emotions, null, 2);\nmsg.payload = msg.result;\nreturn msg;\n","outputs":1,"noerr":0,"x":1068.750015258789,"y":429.50000858306885,"wires":[["91b4375f.cf8e68","4b00d315.1595cc"]]},{"id":"c770674e.d93f58","type":"cloudant out","z":"23350820.888988","name":"insert into jphack","cloudant":"","database":"jphack","service":"node-red-001-cloudantNoSQLDB","payonly":false,"operation":"insert","x":315,"y":696.2500057220459,"wires":[]},{"id":"8832df39.82a88","type":"inject","z":"23350820.888988","name":"奥山","topic":"","payload":"{\"uid\":0,\"name\":\"奥山\",\"position\":{\"left\":1000,\"top\":331}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":95.5,"y":749.25,"wires":[["c770674e.d93f58"]]},{"id":"397495a1.ca762a","type":"inject","z":"23350820.888988","name":"福地","topic":"","payload":"{\"uid\":3,\"name\":\"福地\",\"position\":{\"left\":1400,\"top\":282}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":95,"y":803.25,"wires":[["c770674e.d93f58"]]},{"id":"b2cec0d7.4c74","type":"inject","z":"23350820.888988","name":"姉川","topic":"","payload":"{\"uid\":2,\"name\":\"あねかわ\",\"position\":{\"left\":200,\"top\":320}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":91,"y":651.25,"wires":[["c770674e.d93f58"]]},{"id":"8c21c698.cc6db8","type":"inject","z":"23350820.888988","name":"河口","topic":"","payload":"{\"uid\":1,\"name\":\"河口\",\"position\":{\"left\":600,\"top\":259}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":93,"y":699.25,"wires":[["c770674e.d93f58"]]},{"id":"511ca7fc.45a718","type":"http in","z":"eddaa714.878c58","name":"","url":"/tts","method":"get","upload":false,"swaggerDoc":"","x":120,"y":380,"wires":[["17dba567.2deb5b"]]},{"id":"27d3fceb.e961f4","type":"watson-text-to-speech","z":"eddaa714.878c58","name":"","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":265,"y":436,"wires":[["9fd0968c.2307b8"]]},{"id":"11002472.8e771c","type":"http response","z":"eddaa714.878c58","name":"speech","statusCode":"","headers":{"content-type":"audio/wav"},"x":653,"y":433,"wires":[]},{"id":"9fd0968c.2307b8","type":"change","z":"eddaa714.878c58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":483,"y":433,"wires":[["11002472.8e771c"]]},{"id":"17dba567.2deb5b","type":"change","z":"eddaa714.878c58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":379,"y":351,"wires":[["27d3fceb.e961f4"]]},{"id":"b742777e.4bb238","type":"comment","z":"eddaa714.878c58","name":"text2speech","info":"# Example\n\nnode-red-001.au-syd.mybluemix.net/text2speech?text=水を飲みます","x":130,"y":340,"wires":[]},{"id":"320127a6.164d88","type":"cloudant in","z":"23350820.888988","name":"get positions","cloudant":"","database":"jphack","service":"node-red-001-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":468.5,"y":616.2500057220459,"wires":[["751046ea.444678"]]},{"id":"d19d56ce.8f9038","type":"inject","z":"23350820.888988","name":"Get All Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300.5,"y":586.2500057220459,"wires":[["320127a6.164d88"]]},{"id":"751046ea.444678","type":"debug","z":"23350820.888988","name":"","active":false,"console":"false","complete":"true","x":623.5,"y":649.2500057220459,"wires":[]},{"id":"d4169f42.24985","type":"link in","z":"9c32f896.f45c08","name":"facesAndEmotions","links":["d9357820.93ab58"],"x":171,"y":439,"wires":[["411b19cc.13c2c8","f1308f16.2ddf3","89423bb3.7d9658"]]},{"id":"1e5a3edf.b56c71","type":"link in","z":"9c32f896.f45c08","name":"soundEvents","links":[],"x":182,"y":76,"wires":[["ef0e7e68.da4e4"]]},{"id":"956e5110.df122","type":"comment","z":"9c32f896.f45c08","name":"物音認識","info":"","x":100,"y":77,"wires":[]},{"id":"dd2579a7.b9b408","type":"comment","z":"9c32f896.f45c08","name":"感情認識","info":"","x":83.5,"y":440,"wires":[]},{"id":"ce7dee2f.cf206","type":"comment","z":"9c32f896.f45c08","name":"粗相認識","info":"","x":99,"y":128,"wires":[]},{"id":"ef0e7e68.da4e4","type":"join","z":"9c32f896.f45c08","name":"物音・粗相で発火","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","x":348,"y":92,"wires":[["47cad304.4d0bec","70c6ad36.a7cfe4"]]},{"id":"aee7b76f.943f08","type":"link in","z":"9c32f896.f45c08","name":"sosou","links":[],"x":183,"y":126,"wires":[["ef0e7e68.da4e4"]]},{"id":"47cad304.4d0bec","type":"function","z":"9c32f896.f45c08","name":"デデーン判定(メインロジック)(誰か書いて)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":476,"y":148,"wires":[["6f9d52db.7759cc"]]},{"id":"6f9d52db.7759cc","type":"switch","z":"9c32f896.f45c08","name":"もし dede-n オブジェクトが存在したら","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"play","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":488,"y":222,"wires":[["7b0928a2.0c9978"],["7b0928a2.0c9978"]]},{"id":"7b0928a2.0c9978","type":"link out","z":"9c32f896.f45c08","name":"outSirake","links":["34b9c058.d79c4","f14a326c.6b2f3"],"x":890,"y":234,"wires":[]},{"id":"1bf9a490.86188b","type":"comment","z":"9c32f896.f45c08","name":"デデーン 実行","info":"","x":780,"y":286,"wires":[]},{"id":"1afdfe3a.aebbe2","type":"cloudant in","z":"23350820.888988","name":"get positions","cloudant":"","database":"jphack","service":"node-red-001-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":679,"y":348.2500057220459,"wires":[["87ed4386.8e98f"]]},{"id":"264c69b7.af1826","type":"function","z":"23350820.888988","name":"Who are you?","func":"\n// 距離が最小な人の名前を返す\nfunction minimumByDist (xs) {\n  var minDist = Infinity\n  var name    = \"\"\n  for (let x of xs) {\n    if ( minDist > x.distance ) {\n      minDist = x.distance\n      name    = x.name\n    }\n  }\n  return name\n}\n\n// データベースにある名前と位置情報\nvar positions = msg.payload.map( x => {\n  return { 'name' : x.payload['name'],\n           'left' : x.payload.position['left'],\n           'top'  : x.payload.position['top']  }\n})\n\n// 写真に移っている人たちについて\nvar pairs = [];\nmsg.result.emotions.forEach((now, i) => {\n  positions.forEach((before) => {\n    pairs.push({\n      'distance': Math.pow(now.position.left - before.left, 2) + Math.pow(now.position.top - before.top, 2),\n      'name': before.name,\n      'index_now': i\n    });\n  });\n});\n\nmsg.result.emotions.forEach((now, i) => {\n  var tmp = pairs.filter((pair) => {return pair.index_now == i});\n  msg.result.emotions[i].name = minimumByDist(tmp);\n  delete msg.result.emotions[i].position;\n  pairs = pairs.filter((pair) => {return pair.name != now.name});\n});\n\n// for (let p of msg.result.emotions) {\n//   var l = p.position.left;\n//   var t = p.position.top;\n//   var tmp = positions.map( x => {\n//     return { 'distance': Math.pow(x.left - l, 2) + Math.pow(x.top - t, 2),\n//              'name': x.name\n//            }\n//   })\n//   p.name = minimumByDist(tmp)\n//   delete p.position\n// }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":693.5,"y":482.2500057220459,"wires":[["393e552a.ef142a","fabe0fb7.b3be2"]]},{"id":"7dbbbb9e.dba364","type":"change","z":"23350820.888988","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":544.5,"y":415.2500057220459,"wires":[["1afdfe3a.aebbe2"]]},{"id":"fe71061b.1f9cf8","type":"inject","z":"9c32f896.f45c08","name":"河口アウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"河口  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120.5,"y":224,"wires":[["ef0e7e68.da4e4"]]},{"id":"70c6ad36.a7cfe4","type":"debug","z":"9c32f896.f45c08","name":"","active":false,"console":"false","complete":"false","x":669.5,"y":74,"wires":[]},{"id":"f14a326c.6b2f3","type":"link in","z":"eddaa714.878c58","name":"commandFromShirake","links":["7b0928a2.0c9978"],"x":195,"y":100,"wires":[["e3eb313f.44555"]]},{"id":"d9357820.93ab58","type":"link out","z":"23350820.888988","name":"OUT_感情認識","links":["d4169f42.24985"],"x":1284.750015258789,"y":332.50000858306885,"wires":[]},{"id":"411b19cc.13c2c8","type":"debug","z":"9c32f896.f45c08","name":"","active":true,"console":"false","complete":"true","x":303.5,"y":447,"wires":[]},{"id":"f1308f16.2ddf3","type":"function","z":"9c32f896.f45c08","name":"感情が激しい人を見つける","func":"\nvar flag = false\nvar outName = \"\"\n\nfor (let persons of msg.payload.emotions) {\n  for (let key in persons) {\n    if (key != 'faceNeutral' && persons[key] >= 0.7) {\n      flag = true\n      outName += \"  \" + persons['name']\n    }\n  }\n}\n\nmsg['extremeEmo'] = flag\nmsg['payload'] = {\"play\":\"dede-n\", \"speech\": outName + \" アウト\"}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":372.5,"y":501,"wires":[[]]},{"id":"d6a1f612.47c608","type":"debug","z":"9c32f896.f45c08","name":"","active":false,"console":"false","complete":"payload.speech","x":650,"y":416,"wires":[]},{"id":"3ae8b462.5df1ac","type":"switch","z":"9c32f896.f45c08","name":"Are there extreme emo persons ?","property":"extremeEmo","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":426.5,"y":336,"wires":[["7b0928a2.0c9978","d6a1f612.47c608"]]},{"id":"ef38ce8e.19274","type":"inject","z":"9c32f896.f45c08","name":"姉川アウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"あねかわ  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":119,"y":270,"wires":[["ef0e7e68.da4e4"]]},{"id":"3b7d1c0c.efde34","type":"inject","z":"9c32f896.f45c08","name":"福地アウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"福地  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":119,"y":318,"wires":[["ef0e7e68.da4e4"]]},{"id":"e74280f2.d46c8","type":"link out","z":"b31e54e4.909fa8","name":"sendImage","links":["d3a5f5cb.481478"],"x":316.5,"y":64,"wires":[]},{"id":"d3a5f5cb.481478","type":"link in","z":"23350820.888988","name":"IN_感情認識","links":["e74280f2.d46c8"],"x":43,"y":378.2500057220459,"wires":[["f428841c.a19c78"]]},{"id":"16212ad7.50dddd","type":"watson-speech-to-text","z":"5af3bc01.39170c","name":"speech","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":416.5,"y":268,"wires":[["9eda57d2.86c068","8d305800.e97848"]]},{"id":"9eda57d2.86c068","type":"debug","z":"5af3bc01.39170c","name":"","active":true,"console":"false","complete":"true","x":545,"y":137,"wires":[]},{"id":"7985f38.8a6768c","type":"http in","z":"5af3bc01.39170c","name":"音声受付","url":"myAudio","method":"post","upload":false,"swaggerDoc":"","x":144.5,"y":199,"wires":[["fbd9faa1.873438","2c0f8c2d.a681e4"]]},{"id":"8d305800.e97848","type":"http response","z":"5af3bc01.39170c","name":"","statusCode":"","headers":{},"x":773.5,"y":108,"wires":[]},{"id":"fbd9faa1.873438","type":"debug","z":"5af3bc01.39170c","name":"","active":true,"console":"false","complete":"true","x":380.5,"y":362,"wires":[]},{"id":"2c0f8c2d.a681e4","type":"function","z":"5af3bc01.39170c","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":307.5,"y":153,"wires":[["16212ad7.50dddd","9eda57d2.86c068"]]},{"id":"3c683873.7da1a","type":"watson-speech-to-text","z":"5af3bc01.39170c","name":"speech","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":459,"y":560,"wires":[["d71abc7.4c9e8c","9e200ba2.346d"]]},{"id":"d71abc7.4c9e8c","type":"debug","z":"5af3bc01.39170c","name":"","active":true,"console":"false","complete":"true","x":587.5,"y":429,"wires":[]},{"id":"782f58aa.6a85f8","type":"http in","z":"5af3bc01.39170c","name":"音声受付","url":"myAudio2","method":"post","upload":false,"swaggerDoc":"","x":187,"y":491,"wires":[["57323c48.5de494","3c683873.7da1a"]]},{"id":"9e200ba2.346d","type":"http response","z":"5af3bc01.39170c","name":"","statusCode":"","headers":{},"x":816,"y":400,"wires":[]},{"id":"57323c48.5de494","type":"debug","z":"5af3bc01.39170c","name":"","active":true,"console":"false","complete":"true","x":423,"y":654,"wires":[]},{"id":"1f66cdbe.696d82","type":"inject","z":"9c32f896.f45c08","name":"奥山アウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"奥山  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":119,"y":362,"wires":[["ef0e7e68.da4e4"]]},{"id":"7f7e47a5.899898","type":"comment","z":"b31e54e4.909fa8","name":"START POINT","info":"","x":102.5,"y":80,"wires":[]},{"id":"65b324bc.38d884","type":"http in","z":"aff0ea80.90c288","name":"キーワード受信","url":"/keyword","method":"put","upload":false,"swaggerDoc":"","x":200.5,"y":251,"wires":[["1dd8fdea.08295a","70c98083.d07348"]]},{"id":"70c98083.d07348","type":"debug","z":"aff0ea80.90c288","name":"","active":true,"console":"false","complete":"true","x":526.5,"y":382,"wires":[]},{"id":"1dd8fdea.08295a","type":"http response","z":"aff0ea80.90c288","name":"res","statusCode":"","headers":{},"x":460.5,"y":193,"wires":[]},{"id":"4b00d315.1595cc","type":"trigger","z":"23350820.888988","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"10","extend":false,"units":"s","reset":"","name":"","x":1152.750015258789,"y":328.50000858306885,"wires":[["d9357820.93ab58","c45a7baa.038c48"]]},{"id":"5ae44c78.d5f25c","type":"inject","z":"9c32f896.f45c08","name":"あああアウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"あああ  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":790,"y":160,"wires":[["594e0547.bb343c"]]},{"id":"89423bb3.7d9658","type":"function","z":"9c32f896.f45c08","name":"WhiteTimeCheching","func":"var fieldPoint = 0\nvar numberOfPersons = msg.payload.faceCount\nvar negativePersons = []\nvar aspePersons     = []\nmsg['extremeEmo'] = false\n\nfor (let person of msg.payload.emotions) {\n  var negPoint = 0\n  negPoint += person['faceAnger']\n  negPoint += person['faceContempt']\n  negPoint += person['faceDisgust']\n  negPoint += person['faceFear']\n  negPoint += person['faceSadness']\n  if (negPoint >= 0.6)\n    negativePersons.push(person.name)\n  else\n    aspePersons.push(person.name)\n}\n\nif (negativePersons.length >= numberOfPersons-1) {\n  msg['extremeEmo'] = true\n  msg['payload'] = {\"play\":\"dede-n\", \"speech\": aspePersons.join(\" \") + \" アウト\"}\n}\n\nreturn msg\n","outputs":1,"noerr":0,"x":353.5,"y":551,"wires":[["c330bd08.82e36","3ae8b462.5df1ac"]]},{"id":"c330bd08.82e36","type":"debug","z":"9c32f896.f45c08","name":"","active":true,"console":"false","complete":"extremeEmo","x":595.5,"y":550,"wires":[]},{"id":"594e0547.bb343c","type":"join","z":"9c32f896.f45c08","name":"物音・粗相で発火","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","x":970,"y":160,"wires":[["7b0928a2.0c9978"]]},{"id":"8d6100b8.0d52c","type":"debug","z":"23350820.888988","name":"","active":true,"console":"false","complete":"true","x":977.5,"y":229,"wires":[]},{"id":"b783e06e.3fb418","type":"inject","z":"aff0ea80.90c288","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":138.5,"y":430,"wires":[["70c98083.d07348"]]}]
