node-red.json
[{"id":"daa3eea7.e635e","type":"tab","label":"画像アップロード","disabled":false,"info":""},{"id":"9558cef4.350c2","type":"tab","label":"感情認識","disabled":false,"info":""},{"id":"37fafc1c.783584","type":"tab","label":"物音認識","disabled":false,"info":""},{"id":"ac955ac5.687618","type":"tab","label":"白け判定","disabled":false,"info":""},{"id":"c9eb635f.45db7","type":"tab","label":"音声コマンド返却","disabled":false,"info":""},{"id":"557a45c7.78d02c","type":"tab","label":"音声認識","disabled":false,"info":""},{"id":"5e06e9b9.19c1a8","type":"tab","label":"キーワード受信","disabled":false,"info":""},{"id":"eb215833.708018","type":"websocket-listener","z":"","path":"/websocket/command","wholemsg":"false"},{"id":"46eb9ced.4dc0c4","type":"cloudant","z":"","host":"https://ca53c9dd-ae07-45be-866a-d50b2f1dfaaf-bluemix:b4b6ba3ece995d42a0b62a502245d399ba429c4e2e299c189d1fd0ac8b726fa6@ca53c9dd-ae07-45be-866a-d50b2f1dfaaf-bluemix.cloudant.com","name":""},{"id":"d5576d11.75e5","type":"http in","z":"9558cef4.350c2","name":"","url":"/text2speech","method":"get","upload":false,"swaggerDoc":"","x":112,"y":103,"wires":[["4449fb41.5adb44"]]},{"id":"d994ddb0.0a7d6","type":"watson-text-to-speech","z":"9558cef4.350c2","name":"","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiVoice","voicehidden":"","format":"audio/wav","password":"frAZt2fydgwd","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":505,"y":103,"wires":[["1f2fc7fb.cec628"]]},{"id":"f69c421c.31fdc","type":"http response","z":"9558cef4.350c2","name":"speech","statusCode":"","headers":{"content-type":"audio/wav"},"x":870,"y":102,"wires":[]},{"id":"1f2fc7fb.cec628","type":"change","z":"9558cef4.350c2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":698,"y":102,"wires":[["f69c421c.31fdc"]]},{"id":"4449fb41.5adb44","type":"change","z":"9558cef4.350c2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":313,"y":103,"wires":[["d994ddb0.0a7d6"]]},{"id":"6fc1e659.069ed8","type":"comment","z":"9558cef4.350c2","name":"text2speech","info":"# Example\n\nnode-red-001.au-syd.mybluemix.net/text2speech?text=水を飲みます","x":92,"y":63,"wires":[]},{"id":"fcfec4a6.97da78","type":"http in","z":"37fafc1c.783584","name":"物音認識結果のPOST","url":"/post_sound_events","method":"post","upload":false,"swaggerDoc":"","x":142.5,"y":87,"wires":[["e6bc1f3a.8a5d"]]},{"id":"e6bc1f3a.8a5d","type":"change","z":"37fafc1c.783584","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":211.5,"y":184,"wires":[["fd58de1f.641ae","f13c1058.25ee9"]]},{"id":"fd58de1f.641ae","type":"http response","z":"37fafc1c.783584","name":"","statusCode":"","headers":{},"x":421.5,"y":182,"wires":[]},{"id":"f13c1058.25ee9","type":"debug","z":"37fafc1c.783584","name":"","active":true,"console":"false","complete":"true","x":419,"y":254,"wires":[]},{"id":"5d86e161.1f1c1","type":"http in","z":"9558cef4.350c2","name":"","url":"/emotion","method":"get","swaggerDoc":"","x":82,"y":245.2500057220459,"wires":[["db40f047.ceb52"]]},{"id":"19a1569e.8e7e19","type":"http response","z":"9558cef4.350c2","name":"","x":422,"y":245.2500057220459,"wires":[]},{"id":"db40f047.ceb52","type":"template","z":"9558cef4.350c2","name":"画像URL入力画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h2>Emotion API Sample</h2>\n<form action=\"/emotion\" method=\"post\">\n    URL<br>\n    <input type=\"text\" name=\"url\" value=\"\"><br>\n    <button type=\"submit\">実行</button>\n</form>\n","x":262,"y":245.2500057220459,"wires":[["19a1569e.8e7e19"]]},{"id":"e2f12934.e6f8c8","type":"http in","z":"9558cef4.350c2","name":"","url":"/emotion","method":"post","upload":false,"swaggerDoc":"","x":92,"y":305.2500057220459,"wires":[["43ce2cc9.f93174"]]},{"id":"6f07650e.07a66c","type":"http response","z":"9558cef4.350c2","name":"","statusCode":"","headers":{},"x":1243.250015258789,"y":445.50000858306885,"wires":[]},{"id":"43ce2cc9.f93174","type":"function","z":"9558cef4.350c2","name":"Header追加","func":"msg.headers = {\n    \"Content-type\": \"application/json; charset=UTF-8\",\n    \"Ocp-Apim-Subscription-Key\": \"2fb9baa6cfe34c2395fff59da6ac7594\"\n};\n\nmsg.picurl = msg.payload.url;\n\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":305.2500057220459,"wires":[["99b25b68.759ea8"]]},{"id":"99b25b68.759ea8","type":"http request","z":"9558cef4.350c2","name":"Call MS EmotionAPI","method":"POST","ret":"obj","url":"https://api.projectoxford.ai/emotion/v1.0/recognize","tls":"","x":452,"y":365.2500057220459,"wires":[["3ddb9fb9.07e26"]]},{"id":"93e92d6a.603ba","type":"function","z":"9558cef4.350c2","name":"ResMsg作成","func":"//小数点6位までを残す関数 (表情スコアの丸めに利用)\nfunction floatFormat( number ) {\n    return Math.round( number * Math.pow( 10 , 6 ) ) / Math.pow( 10 , 6 ) ;\n}\n\n// Headerの書き換え\nmsg.headers = {\n    \"Content-type\": \"text/html; charset=UTF-8\"\n};\n\nvar result = { 'faceCount': 0, 'emotions': [] };\n\n// payloadの中身を書き換え\nif (msg.result.length > 0) {\n  for (const p of msg.result) {\n    var faceScore = p.scores;\n    result['emotions'].push({\n        'position'  : { 'left': p.faceRectangle['left'],\n                        'top' : p.faceRectangle['top'] },\n        'faceAnger' : floatFormat(faceScore.anger),\n        'faceContempt' :  floatFormat(faceScore.contempt),\n        'faceDisgust' : floatFormat(faceScore.disgust),\n        'faceFear' : floatFormat(faceScore.fear),\n        'faceHappiness' : floatFormat(faceScore.happiness),\n        'faceNeutral' : floatFormat(faceScore.neutral),\n        'faceSadness' : floatFormat(faceScore.sadness),\n        'faceSurprise' : floatFormat(faceScore.surprise)\n    })\n  }\n  result['faceCount'] = msg.result.length;\n}\n\nmsg['result'] = result\n\nreturn msg;\n","outputs":1,"noerr":0,"x":844,"y":348.2500057220459,"wires":[["f971d858.79b5c8","740d86af.eea938"]]},{"id":"58253b14.6a3c64","type":"debug","z":"9558cef4.350c2","name":"","active":false,"console":"false","complete":"true","x":911,"y":511.2500057220459,"wires":[]},{"id":"e1fe9ec.db3b26","type":"debug","z":"9558cef4.350c2","name":"","active":false,"console":"false","complete":"true","x":1318.250015258789,"y":535.5000085830688,"wires":[]},{"id":"f2f3ec7f.3e41d","type":"switch","z":"9558cef4.350c2","name":"認識状況","property":"result.faceCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":923,"y":450.2500057220459,"wires":[["47b116ca.cc50c8"],["b2716662.f83a38"]]},{"id":"b2716662.f83a38","type":"template","z":"9558cef4.350c2","name":"失敗","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Failure...","x":1069.250015258789,"y":486.50000858306885,"wires":[["6f07650e.07a66c","e1fe9ec.db3b26"]]},{"id":"6f3e41aa.905d7","type":"http in","z":"daa3eea7.e635e","name":"画像アップロード","url":"/sendImage","method":"post","upload":true,"swaggerDoc":"","x":125,"y":127,"wires":[["2eee1bcf.04f684"]]},{"id":"75b2e290.c14d2c","type":"http response","z":"daa3eea7.e635e","name":"","statusCode":"","headers":{},"x":425,"y":116,"wires":[]},{"id":"99ed06cf.6d8c48","type":"websocket out","z":"c9eb635f.45db7","name":"","server":"eb215833.708018","client":"","x":500,"y":160,"wires":[]},{"id":"ae21ab10.bc1048","type":"inject","z":"c9eb635f.45db7","name":"","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"遠藤  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":200,"wires":[["99ed06cf.6d8c48","793e02ba.4e06fc"]]},{"id":"793e02ba.4e06fc","type":"debug","z":"c9eb635f.45db7","name":"","active":false,"console":"false","complete":"false","x":410,"y":240,"wires":[]},{"id":"5e34175.0b6c5e8","type":"websocket in","z":"c9eb635f.45db7","name":"","server":"eb215833.708018","client":"","x":190,"y":260,"wires":[["793e02ba.4e06fc"]]},{"id":"aa9cd0a.3b3dd3","type":"function","z":"9558cef4.350c2","name":"Header追加","func":"msg.headers = {\n    \"Content-type\": \"application/octet-stream\",\n    \"Ocp-Apim-Subscription-Key\": \"2fb9baa6cfe34c2395fff59da6ac7594\"\n};\nmsg.payload = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":376.2500057220459,"wires":[["99b25b68.759ea8","e3e62fc0.601d3"]]},{"id":"e3e62fc0.601d3","type":"debug","z":"9558cef4.350c2","name":"","active":true,"console":"false","complete":"true","x":277.5,"y":468.25,"wires":[]},{"id":"47b116ca.cc50c8","type":"function","z":"9558cef4.350c2","name":"成功","func":"//msg.payload = JSON.stringify(msg.result.emotions, null, 2);\nmsg.payload = msg.result;\nreturn msg;\n","outputs":1,"noerr":0,"x":1068.750015258789,"y":429.50000858306885,"wires":[["6f07650e.07a66c","24b9c5b1.a7158a"]]},{"id":"5f67f3fe.a84bfc","type":"cloudant out","z":"9558cef4.350c2","name":"insert into jphack","cloudant":"46eb9ced.4dc0c4","database":"jphack","service":"_ext_","payonly":false,"operation":"insert","x":315,"y":696.2500057220459,"wires":[]},{"id":"1d35656b.7b149b","type":"inject","z":"9558cef4.350c2","name":"奥山","topic":"","payload":"{\"uid\":0,\"name\":\"奥山\",\"position\":{\"left\":1000,\"top\":331}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":95.5,"y":749.25,"wires":[["5f67f3fe.a84bfc"]]},{"id":"bd084000.09a0a","type":"inject","z":"9558cef4.350c2","name":"福地","topic":"","payload":"{\"uid\":3,\"name\":\"福地\",\"position\":{\"left\":1400,\"top\":282}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":95,"y":803.25,"wires":[["5f67f3fe.a84bfc"]]},{"id":"2d16b8e1.6f4738","type":"inject","z":"9558cef4.350c2","name":"姉川","topic":"","payload":"{\"uid\":2,\"name\":\"あねかわ\",\"position\":{\"left\":200,\"top\":320}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":91,"y":651.25,"wires":[["5f67f3fe.a84bfc"]]},{"id":"2d661c77.b526e4","type":"inject","z":"9558cef4.350c2","name":"河口","topic":"","payload":"{\"uid\":1,\"name\":\"河口\",\"position\":{\"left\":600,\"top\":259}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":93,"y":699.25,"wires":[["5f67f3fe.a84bfc"]]},{"id":"1a7b243c.2daf0c","type":"http in","z":"c9eb635f.45db7","name":"","url":"/tts","method":"get","upload":false,"swaggerDoc":"","x":120,"y":380,"wires":[["ed159db9.b5389"]]},{"id":"273fa38d.bf174c","type":"watson-text-to-speech","z":"c9eb635f.45db7","name":"","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiVoice","voicehidden":"","format":"audio/wav","password":"frAZt2fydgwd","payload-response":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":265,"y":436,"wires":[["12774b27.1bd6d5"]]},{"id":"eca2653f.81b208","type":"http response","z":"c9eb635f.45db7","name":"speech","statusCode":"","headers":{"content-type":"audio/wav"},"x":653,"y":433,"wires":[]},{"id":"12774b27.1bd6d5","type":"change","z":"c9eb635f.45db7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":483,"y":433,"wires":[["eca2653f.81b208"]]},{"id":"ed159db9.b5389","type":"change","z":"c9eb635f.45db7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":379,"y":351,"wires":[["273fa38d.bf174c"]]},{"id":"45daa4fa.b6b37c","type":"comment","z":"c9eb635f.45db7","name":"text2speech","info":"# Example\n\nnode-red-001.au-syd.mybluemix.net/text2speech?text=水を飲みます","x":130,"y":340,"wires":[]},{"id":"947cf38a.be2a7","type":"cloudant in","z":"9558cef4.350c2","name":"get positions","cloudant":"46eb9ced.4dc0c4","database":"jphack","service":"_ext_","search":"_all_","design":"","index":"","x":468.5,"y":616.2500057220459,"wires":[["96f2f939.3d5a18"]]},{"id":"ca105502.91faf8","type":"inject","z":"9558cef4.350c2","name":"Get All Data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300.5,"y":586.2500057220459,"wires":[["947cf38a.be2a7"]]},{"id":"96f2f939.3d5a18","type":"debug","z":"9558cef4.350c2","name":"","active":false,"console":"false","complete":"true","x":623.5,"y":649.2500057220459,"wires":[]},{"id":"532b7f10.156f8","type":"link in","z":"ac955ac5.687618","name":"facesAndEmotions","links":["c663d8bd.d60f88"],"x":171,"y":439,"wires":[["6264ed0c.1d00b4","2046f2ee.10c48e","33236fdc.4c291"]]},{"id":"5a7e64c5.050ddc","type":"link in","z":"ac955ac5.687618","name":"soundEvents","links":[],"x":182,"y":76,"wires":[["ad023633.8011f8"]]},{"id":"67b682c2.ef51fc","type":"comment","z":"ac955ac5.687618","name":"物音認識","info":"","x":100,"y":77,"wires":[]},{"id":"9a147115.62646","type":"comment","z":"ac955ac5.687618","name":"感情認識","info":"","x":83.5,"y":440,"wires":[]},{"id":"60e638a0.e40b78","type":"comment","z":"ac955ac5.687618","name":"粗相認識","info":"","x":99,"y":128,"wires":[]},{"id":"ad023633.8011f8","type":"join","z":"ac955ac5.687618","name":"物音・粗相で発火","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","x":348,"y":92,"wires":[["5fecb26a.27756c","208b8e79.93e172"]]},{"id":"34a4b670.96614a","type":"link in","z":"ac955ac5.687618","name":"sosou","links":[],"x":183,"y":126,"wires":[["ad023633.8011f8"]]},{"id":"5fecb26a.27756c","type":"function","z":"ac955ac5.687618","name":"デデーン判定(メインロジック)(誰か書いて)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":476,"y":148,"wires":[["6bd29585.6abe3c"]]},{"id":"6bd29585.6abe3c","type":"switch","z":"ac955ac5.687618","name":"もし dede-n オブジェクトが存在したら","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"play","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":488,"y":222,"wires":[["77f024a0.d76aec"],["77f024a0.d76aec"]]},{"id":"77f024a0.d76aec","type":"link out","z":"ac955ac5.687618","name":"outSirake","links":["34b9c058.d79c4","4bb59e8d.3bddf"],"x":890,"y":234,"wires":[]},{"id":"54b21e9.edeb6e","type":"comment","z":"ac955ac5.687618","name":"デデーン 実行","info":"","x":780,"y":286,"wires":[]},{"id":"d4758791.74e4a8","type":"cloudant in","z":"9558cef4.350c2","name":"get positions","cloudant":"46eb9ced.4dc0c4","database":"jphack","service":"_ext_","search":"_all_","design":"","index":"","x":679,"y":348.2500057220459,"wires":[["93e92d6a.603ba"]]},{"id":"f971d858.79b5c8","type":"function","z":"9558cef4.350c2","name":"Who are you?","func":"\n// 距離が最小な人の名前を返す\nfunction minimumByDist (xs) {\n  var minDist = Infinity\n  var name    = \"\"\n  for (let x of xs) {\n    if ( minDist > x.distance ) {\n      minDist = x.distance\n      name    = x.name\n    }\n  }\n  return name\n}\n\n// データベースにある名前と位置情報\nvar positions = msg.payload.map( x => {\n  return { 'name' : x.payload['name'],\n           'left' : x.payload.position['left'],\n           'top'  : x.payload.position['top']  }\n})\n\n// 写真に移っている人たちについて\nvar pairs = [];\nmsg.result.emotions.forEach((now, i) => {\n  positions.forEach((before) => {\n    pairs.push({\n      'distance': Math.pow(now.position.left - before.left, 2) + Math.pow(now.position.top - before.top, 2),\n      'name': before.name,\n      'index_now': i\n    });\n  });\n});\n\nmsg.result.emotions.forEach((now, i) => {\n  var tmp = pairs.filter((pair) => {return pair.index_now == i});\n  msg.result.emotions[i].name = minimumByDist(tmp);\n  delete msg.result.emotions[i].position;\n  pairs = pairs.filter((pair) => {return pair.name != now.name});\n});\n\n// for (let p of msg.result.emotions) {\n//   var l = p.position.left;\n//   var t = p.position.top;\n//   var tmp = positions.map( x => {\n//     return { 'distance': Math.pow(x.left - l, 2) + Math.pow(x.top - t, 2),\n//              'name': x.name\n//            }\n//   })\n//   p.name = minimumByDist(tmp)\n//   delete p.position\n// }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":693.5,"y":482.2500057220459,"wires":[["f2f3ec7f.3e41d","58253b14.6a3c64"]]},{"id":"3ddb9fb9.07e26","type":"change","z":"9558cef4.350c2","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":544.5,"y":415.2500057220459,"wires":[["d4758791.74e4a8"]]},{"id":"9e882841.de13c8","type":"inject","z":"ac955ac5.687618","name":"河口アウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"河口  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120.5,"y":224,"wires":[["ad023633.8011f8"]]},{"id":"208b8e79.93e172","type":"debug","z":"ac955ac5.687618","name":"","active":false,"console":"false","complete":"false","x":669.5,"y":74,"wires":[]},{"id":"4bb59e8d.3bddf","type":"link in","z":"c9eb635f.45db7","name":"commandFromShirake","links":["77f024a0.d76aec"],"x":195,"y":100,"wires":[["99ed06cf.6d8c48"]]},{"id":"c663d8bd.d60f88","type":"link out","z":"9558cef4.350c2","name":"OUT_感情認識","links":["532b7f10.156f8"],"x":1284.750015258789,"y":332.50000858306885,"wires":[]},{"id":"6264ed0c.1d00b4","type":"debug","z":"ac955ac5.687618","name":"","active":true,"console":"false","complete":"true","x":303.5,"y":447,"wires":[]},{"id":"2046f2ee.10c48e","type":"function","z":"ac955ac5.687618","name":"感情が激しい人を見つける","func":"\nvar flag = false\nvar outName = \"\"\n\nfor (let persons of msg.payload.emotions) {\n  for (let key in persons) {\n    if (key != 'faceNeutral' && persons[key] >= 0.7) {\n      flag = true\n      outName += \"  \" + persons['name']\n    }\n  }\n}\n\nmsg['extremeEmo'] = flag\nmsg['payload'] = {\"play\":\"dede-n\", \"speech\": outName + \" アウト\"}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":372.5,"y":501,"wires":[[]]},{"id":"d747f847.b046c8","type":"debug","z":"ac955ac5.687618","name":"","active":false,"console":"false","complete":"payload.speech","x":650,"y":416,"wires":[]},{"id":"fd6aee78.6d8b7","type":"switch","z":"ac955ac5.687618","name":"Are there extreme emo persons ?","property":"extremeEmo","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":426.5,"y":336,"wires":[["77f024a0.d76aec","d747f847.b046c8"]]},{"id":"bf1f30c1.a12ca","type":"inject","z":"ac955ac5.687618","name":"姉川アウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"あねかわ  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":119,"y":270,"wires":[["ad023633.8011f8"]]},{"id":"efc6a5b1.fdbed8","type":"inject","z":"ac955ac5.687618","name":"福地アウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"福地  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":119,"y":318,"wires":[["ad023633.8011f8"]]},{"id":"2eee1bcf.04f684","type":"link out","z":"daa3eea7.e635e","name":"sendImage","links":["d409b528.f05a08"],"x":316.5,"y":64,"wires":[]},{"id":"d409b528.f05a08","type":"link in","z":"9558cef4.350c2","name":"IN_感情認識","links":["2eee1bcf.04f684"],"x":43,"y":378.2500057220459,"wires":[["aa9cd0a.3b3dd3"]]},{"id":"4fa37328.4920fc","type":"watson-speech-to-text","z":"557a45c7.78d02c","name":"speech","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":416.5,"y":268,"wires":[["a5a0ef6.b65e51","1f2abdd2.997292"]]},{"id":"a5a0ef6.b65e51","type":"debug","z":"557a45c7.78d02c","name":"","active":true,"console":"false","complete":"true","x":545,"y":137,"wires":[]},{"id":"2ff32ef8.b88b02","type":"http in","z":"557a45c7.78d02c","name":"音声受付","url":"myAudio","method":"post","upload":false,"swaggerDoc":"","x":144.5,"y":199,"wires":[["ad723b0a.6e5238","237e0f28.8015f"]]},{"id":"1f2abdd2.997292","type":"http response","z":"557a45c7.78d02c","name":"","statusCode":"","headers":{},"x":773.5,"y":108,"wires":[]},{"id":"ad723b0a.6e5238","type":"debug","z":"557a45c7.78d02c","name":"","active":true,"console":"false","complete":"true","x":380.5,"y":362,"wires":[]},{"id":"237e0f28.8015f","type":"function","z":"557a45c7.78d02c","name":"","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":307.5,"y":153,"wires":[["4fa37328.4920fc","a5a0ef6.b65e51"]]},{"id":"94488651.4cc3a8","type":"watson-speech-to-text","z":"557a45c7.78d02c","name":"speech","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":459,"y":560,"wires":[["ca876c90.6ee89","cd37624e.1a2b2"]]},{"id":"ca876c90.6ee89","type":"debug","z":"557a45c7.78d02c","name":"","active":true,"console":"false","complete":"true","x":587.5,"y":429,"wires":[]},{"id":"596ef8bf.bbb328","type":"http in","z":"557a45c7.78d02c","name":"音声受付","url":"myAudio2","method":"post","upload":false,"swaggerDoc":"","x":187,"y":491,"wires":[["d4fd3004.e6b7d","94488651.4cc3a8"]]},{"id":"cd37624e.1a2b2","type":"http response","z":"557a45c7.78d02c","name":"","statusCode":"","headers":{},"x":816,"y":400,"wires":[]},{"id":"d4fd3004.e6b7d","type":"debug","z":"557a45c7.78d02c","name":"","active":true,"console":"false","complete":"true","x":423,"y":654,"wires":[]},{"id":"a21f4292.7c1db","type":"inject","z":"ac955ac5.687618","name":"奥山アウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"奥山  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":119,"y":362,"wires":[["ad023633.8011f8"]]},{"id":"49009095.9423","type":"comment","z":"daa3eea7.e635e","name":"START POINT","info":"","x":102.5,"y":80,"wires":[]},{"id":"e45cbc72.69668","type":"http in","z":"5e06e9b9.19c1a8","name":"キーワード受信","url":"/keyword","method":"put","upload":false,"swaggerDoc":"","x":200.5,"y":251,"wires":[["c4bc2321.66145","384c493f.b66b46"]]},{"id":"384c493f.b66b46","type":"debug","z":"5e06e9b9.19c1a8","name":"","active":true,"console":"false","complete":"true","x":526.5,"y":382,"wires":[]},{"id":"c4bc2321.66145","type":"http response","z":"5e06e9b9.19c1a8","name":"res","statusCode":"","headers":{},"x":460.5,"y":193,"wires":[]},{"id":"24b9c5b1.a7158a","type":"trigger","z":"9558cef4.350c2","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"10","extend":false,"units":"s","reset":"","name":"","x":1152.750015258789,"y":328.50000858306885,"wires":[["c663d8bd.d60f88","e1fe9ec.db3b26"]]},{"id":"65790a09.deb224","type":"inject","z":"ac955ac5.687618","name":"あああアウト","topic":"","payload":"{\"play\":\"dede-n\",\"speech\":\"あああ  アウト\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":790,"y":160,"wires":[["297160ab.64aa1"]]},{"id":"33236fdc.4c291","type":"function","z":"ac955ac5.687618","name":"WhiteTimeCheching","func":"var fieldPoint = 0\nvar numberOfPersons = msg.payload.faceCount\nvar negativePersons = []\nvar aspePersons     = []\nmsg['extremeEmo'] = false\n\nfor (let person of msg.payload.emotions) {\n  var negPoint = 0\n  negPoint += person['faceAnger']\n  negPoint += person['faceContempt']\n  negPoint += person['faceDisgust']\n  negPoint += person['faceFear']\n  negPoint += person['faceSadness']\n  if (negPoint >= 0.6)\n    negativePersons.push(person.name)\n  else\n    aspePersons.push(person.name)\n}\n\nif (negativePersons.length >= numberOfPersons-1) {\n  msg['extremeEmo'] = true\n  msg['payload'] = {\"play\":\"dede-n\", \"speech\": aspePersons.join(\" \") + \" アウト\"}\n}\n\nreturn msg\n","outputs":1,"noerr":0,"x":353.5,"y":551,"wires":[["91e15bac.9b8fa8","fd6aee78.6d8b7"]]},{"id":"91e15bac.9b8fa8","type":"debug","z":"ac955ac5.687618","name":"","active":true,"console":"false","complete":"extremeEmo","x":595.5,"y":550,"wires":[]},{"id":"297160ab.64aa1","type":"join","z":"ac955ac5.687618","name":"物音・粗相で発火","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","x":970,"y":160,"wires":[["77f024a0.d76aec"]]},{"id":"740d86af.eea938","type":"debug","z":"9558cef4.350c2","name":"","active":true,"console":"false","complete":"true","x":977.5,"y":229,"wires":[]},{"id":"ff841596.4676d8","type":"inject","z":"5e06e9b9.19c1a8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":138.5,"y":430,"wires":[["384c493f.b66b46"]]}]